#gameMenu {
    -fx-background-image: url("pictures/background.png");
    -fx-background-size: cover;
    -fx-background-position: center;
}

.menuButton {
    -fx-background-color: #808080; /* Hintergrundfarbe der Schaltfläche */
    -fx-text-fill: white; /* Textfarbe */
    -fx-font-size: 16px; /* Schriftgröße */
    -fx-padding: 10px 20px; /* Innenabstand */
    -fx-background-radius: 5px; /* Abgerundete Ecken */
    -fx-border-color: #000000; /* Randfarbe */
    -fx-border-width: 2px; /* Randbreite */
}

.menuButton:hover {
    -fx-background-color: #45a049; /* Hintergrundfarbe bei Mausüberführung */
}

.imagemap1, .imagemap2, .imagemap3 {
    -fx-background-image: url("pictures/background.png");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-min-height: 200px;
    -fx-min-width: 200px;
    -fx-text-fill: rgb(0, 0, 0); 
    -fx-padding: 10px;
}

#plain {
    -fx-background-image: url('pictures/map/gras.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#wood {
    -fx-background-image: url('pictures/map/forest.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#mountain {
    -fx-background-image: url('pictures/map/mountain.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#sea {
    -fx-background-image: url('pictures/map/water.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#street {
    -fx-background-image: url('pictures/map/road.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}