#gameMenu {
    -fx-background-image: url("pictures/background.png");
    -fx-background-size: cover;
    -fx-background-position: center;
}

.menuButton {
    -fx-background-color: #3a500d;
    -fx-background-radius: 20px;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-border-color: transparent;
    -fx-border-width: 1px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 4, 0, 0, 1);
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-cursor: hand;
    -fx-min-width: 200px;
    -fx-min-height: 40px;
    -fx-max-width: 200px;
    -fx-max-height: 40px;
    -fx-alignment: center;
}

.menuButton:hover {
    -fx-border-color: #ffffff;
    -fx-border-width: 2px;
    -fx-border-radius: 20px;
    -fx-effect: dropshadow(three-pass-box, rgba(255,255,255,0.8), 10, 0, 0, 0);
    -fx-transition: border-color 0.3s ease;
}

.returnButton {
    -fx-background-color: #333333;
    -fx-background-radius: 20px;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-border-color: transparent;
    -fx-border-width: 1px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 4, 0, 0, 1);
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-cursor: hand;
    -fx-width: 20px;
    -fx-height: 20px;
    -fx-alignment: center;
}

.returnButton:hover {
    -fx-border-color: #ffffff;
    -fx-border-width: 1px;
    -fx-border-radius: 20px;
    -fx-effect: dropshadow(three-pass-box, rgba(255,255,255,0.8), 10, 0, 0, 0);
    -fx-transition: border-color 0.3s ease;
}

.button {
    -fx-font-family: Arial;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.headerLabel {
    -fx-font-size: 24px;
    -fx-font-family: "Arial Black";
    -fx-text-fill: #ecf0f1;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 10, 0, 0, 1);
    -fx-padding-left: 50px; /*Normalerweise geht des doch so????*/
}

.footerLabel {
    -fx-font-size: 24px;
    -fx-font-family: "Arial Black";
    -fx-text-fill: #ecf0f1;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 10, 0, 0, 1);
}

.game-grid {
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-border-color: #ecf0f1;
    -fx-border-width: 2;
    -fx-padding: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 10, 0, 0, 1);
}

.ingameHBox {
    -fx-background-color: #3a500d;
    -fx-padding: 10;
    -fx-background-image: url("pictures/css/igbackground2.jpg");
}

.ingameHBox2 {
    -fx-background-color: #3a500d;
    -fx-padding: 10;
    -fx-background-image: url("pictures/css/igbackground1.jpg");
}

.imagemap1 {
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-min-height: 200px;
    -fx-min-width: 200px;
    -fx-padding: 10px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 4, 0, 0, 1);
    -fx-shape: "M 20 0 L 180 0 Q 200 0, 200 20 L 200 180 Q 200 200, 180 200 L 20 200 Q 0 200, 0 180 L 0 20 Q 0 0, 20 0 Z";
    -fx-background-image: url("pictures/map/littleIsland.png");
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.imagemap2 {
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-min-height: 200px;
    -fx-min-width: 200px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 4, 0, 0, 1);
    -fx-shape: "M 20 0 L 180 0 Q 200 0, 200 20 L 200 180 Q 200 200, 180 200 L 20 200 Q 0 200, 0 180 L 0 20 Q 0 0, 20 0 Z";
    -fx-background-image: url("pictures/map/eonSprings.png");
}

.imagemap1 .text, .imagemap2 .text, .imagemap3 .text {
    -fx-effect: dropshadow(gaussian, black, 1, 0, 0, 1);
}

.imagemap3 {
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-min-height: 200px;
    -fx-min-width: 200px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 4, 0, 0, 1);
    -fx-shape: "M 20 0 L 180 0 Q 200 0, 200 20 L 200 180 Q 200 200, 180 200 L 20 200 Q 0 200, 0 180 L 0 20 Q 0 0, 20 0 Z";
    -fx-background-image: url("pictures/map/pistonDam.png");
}


.imagemap1:hover, .imagemap2:hover, .imagemap3:hover {
    -fx-border-color: #ffffff;
    -fx-border-width: 2px;
    -fx-border-radius: 20px;
    -fx-effect: dropshadow(three-pass-box, rgba(255,255,255,0.8), 10, 0, 0, 0);
    -fx-transition: border-color 0.3s ease;
}

#tuimg{
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.plain {
    -fx-background-image: url('pictures/map/gras.png');
}

.wood {
    -fx-background-image: url('pictures/map/forest.png');
}

.mountain {
    -fx-background-image: url('pictures/map/mountain.png');
}

.sea {
    -fx-background-image: url('pictures/map/water.png');
}

.street {
    -fx-background-image: url('pictures/map/road.png');
}

.infantry{
    -fx-background-image: url('pictures/infantry/inf.png');
}

.mechanized_infantry{
    -fx-background-image: url('pictures/mech_infantry/mech.png');
}

.tank{
    -fx-background-image: url('pictures/tank/tank.png');
}

.mobile_artillery{
    -fx-background-image: url('pictures/artillery/artillery.png');
}

.anti_air{
    -fx-background-image: url('pictures/antiair/air.png');
}

.fighter{
    -fx-background-image: url('pictures/fighter/fighter.png');
}

.bomber{
    -fx-background-image: url('pictures/bomber/bomber.png');
}

.battle_copter{
    -fx-background-image: url('pictures/bcopter/bcopter.png');
}

.red {
    -fx-effect: innershadow(three-pass-box, rgba(255, 0, 0, 0.3), 100, 0.5, 0, 0);
}

.blue {
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 255, 0.3), 100, 0.5, 0, 0);
    -fx-scale-x: -1;
}

.redFight {
    -fx-effect: innershadow(three-pass-box, rgba(255, 0, 0, 0.3), 100, 0.5, 0, 0);
}

.blueFight {
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 255, 0.3), 100, 0.5, 0, 0);
}

.defend {
    -fx-scale-x: -1;
}

#gamefightpicture {
    -fx-background-image: url("pictures/fight/fight.png");
    -fx-background-size: cover;
}

#attackerpicture {
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-pref-width: 300px;
    -fx-pref-height: 300px; 
}

#defenderpicture {
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-pref-width: 300px;
    -fx-pref-height: 300px;
}


#textLabel1, #textLabel2{
    -fx-font-family: 'Arial', sans-serif;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75), 2, 0.5, 0, 0);
}