#gameMenu {
    -fx-background-image: url("pictures/background.png");
    -fx-background-size: cover;
    -fx-background-position: center;
}

.menuButton {
    -fx-background-color: #3a500d;
    -fx-background-radius: 20px;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-border-color: transparent;
    -fx-border-width: 1px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 4, 0, 0, 1);
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-cursor: hand;
    -fx-min-width: 200px;
    -fx-min-height: 40px;
    -fx-max-width: 200px;
    -fx-max-height: 40px;
    -fx-alignment: center;
}

.menuButton:hover {
    -fx-border-color: #ffffff;
    -fx-border-width: 2px;
    -fx-border-radius: 20px;
    -fx-effect: dropshadow(three-pass-box, rgba(255,255,255,0.8), 10, 0, 0, 0);
    -fx-transition: border-color 0.3s ease; /* Animiert den Rahmeneffekt */
}

.imagemap1, .imagemap2, .imagemap3 {
    -fx-background-image: url("pictures/background.png");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-min-height: 200px;
    -fx-min-width: 200px;
    -fx-text-fill: rgb(0, 0, 0);
    -fx-padding: 10px;
   -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 4, 0, 0, 1);
    -fx-shape: "M 20 0 L 180 0 Q 200 0, 200 20 L 200 180 Q 200 200, 180 200 L 20 200 Q 0 200, 0 180 L 0 20 Q 0 0, 20 0 Z";
}

#plain {
    -fx-background-image: url('pictures/map/gras.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#wood {
    -fx-background-image: url('pictures/map/forest.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#mountain {
    -fx-background-image: url('pictures/map/mountain.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#sea {
    -fx-background-image: url('pictures/map/water.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#street {
    -fx-background-image: url('pictures/map/road.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.imagemap1:hover, .imagemap2:hover, .imagemap3:hover {
    -fx-border-color: #ffffff;
    -fx-border-width: 2px;
    -fx-border-radius: 20px;
    -fx-effect: dropshadow(three-pass-box, rgba(255,255,255,0.8), 10, 0, 0, 0);
    -fx-transition: border-color 0.3s ease;
}